/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  background: rgb(240, 239, 199);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1,
h2 {
  font-family: 'David Libre', serif;
  font-weight: 500;
  font-size: 1.5em;
  padding: 1.3em 0;
}

h2 {
  font-size: 1.25em;
}
