/* ==========================================================================
   Defaults w/ values I'd use more that once
   ========================================================================== */

$bg: green;
$bg1: white;

$font1: Roboto
$font2:

$outlinePattern: dashed;
$outlineWidth: 1px;
$outlineColor: 
