/* ==========================================================================
   Defaults w/ values I'd use more that once
   ========================================================================== */

$bg: green;
$bg1: white;
$bg2: purple;

$font1: JetBrains Mono;



$outlinePattern: dashed;
$outlineWidth: 1px;
